@model FeedbackService.Models.Feedback
@using FeedbackService.Models
@{
    Layout = null;
}
<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
<title>Feedback Service - комментарии для @Model.Title</title>
<link>http://@Request.Url.Authority@Url.Action("Details", "Feedback", new { id = Model.FeedbackId })</link>
<description>Комментарии для отзыва @Model.Title</description>
<language>ru-ru</language>
@foreach (Comment c in Model.Comments)
{
    <item>
    <title>
    @if (c.ClientIdRef != Guid.Empty)
    { <text>Официальный ответ</text> }
    else
    { <text>Обычный комментарий</text> }
    </title>
    <guid>http://@Request.Url.Authority@Url.Action("Details", "Feedback", new { id = Model.FeedbackId })</guid>
    <pubDate>@c.Timestamp.ToUniversalTime().ToString("r")</pubDate>
    <description>@c.Message</description>
    </item>
}
</channel>
</rss>