@model FeedbackService.Models.Site

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить сайт вместе со всеми комментариями?</h3>
<fieldset>
    <legend>@Model.Url</legend>
    <div class="display-label">
        Описание</div>
    <div class="display-field">
        @Html.DisplayFor(modelItem => Model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку сайтов", "Index")
    </p>
}
