@{
    ViewBag.Title = "About Us";
}
<h2>
    About</h2>
<p>
    На этой странице вы можете попробовать наш виджет в действии. При встраивании предлагается
    ссылка на наш сайт
</p>
<ul>
    <li></li>
</ul>
