@{
    ViewBag.Title = "Feedback Service - Домашняя";
}

<h2>Добро пожаловать</h2>

<p>
    Этот проект специализируется на предоставлении услуг по обратной связи пользователей
@if(Request.IsAuthenticated) {
    @Html.ActionLink("ваших сайтов", "Index", "Site")<text>.</text>
}
else
{
    @Html.ActionLink("наших сайтов", "Sites", "Home")<text>.</text>
}
</p>